In [2]:
import pandas as pd
df = pd.read_csv(r'C:\Users\PC\Desktop\dataset\data.csv')

In [4]:
df.head(10)

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0
5,9780006280934,0006280935,The Problem of Pain,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=Kk-uV...,"""In The Problem of Pain, C.S. Lewis, one of th...",2002.0,4.09,176.0,37569.0
6,9780006353287,0006353282,An Autobiography,NaN,Agatha Christie,"Authors, English",http://books.google.com/books/content?id=c49GQ...,Donation.,1977.0,4.27,560.0,3975.0
7,9780006380832,0006380832,Empires of the Monsoon,A History of the Indian Ocean and Its Invaders,Richard Hall,"Africa, East",http://books.google.com/books/content?id=MuPEQ...,Until Vasco da Gama discovered the sea-route t...,1998.0,4.41,608.0,65.0
8,9780006470229,000647022X,The Gap Into Madness,Chaos and Order,Stephen R. Donaldson,"Hyland, Morn (Fictitious character)",http://books.google.com/books/content?id=4oXav...,A new-cover reissue of the fourth book in the ...,1994.0,4.15,743.0,103.0
9,9780006472612,0006472613,Master of the Game,NaN,Sidney Sheldon,Adventure stories,http://books.google.com/books/content?id=TkTYp...,Kate Blackwell is an enigma and one of the mos...,1982.0,4.11,489.0,43540.0

In [14]:
df.columns

Index(['title', 'authors', 'categories', 'thumbnail', 'description',
       'average_rating', 'ratings_count'],
      dtype='object')

In [18]:
df.isnull().sum()

title               0
authors            72
categories         99
thumbnail         329
description       262
average_rating     43
ratings_count      43
dtype: int64

In [19]:
# Drop rows with nulls in specific columns
df = df.dropna(subset=['categories', 'average_rating', 'ratings_count'])

# Verify the updated DataFrame
print(df.isnull().sum())  # Check null counts again

title               0
authors            71
categories          0
thumbnail         271
description       194
average_rating      0
ratings_count       0
dtype: int64

In [24]:
df = df.reset_index(drop=True)

In [25]:
print(df.shape)

(6671, 7)

In [44]:
def recommend_books(title, df):
    # Check if the title exists in the dataset
    if title not in df['title'].values:
        return f"Book with title '{title}' not found in the dataset."
    
    # Get the category of the input book
    book_category = df.loc[df['title'] == title, 'categories'].iloc[0]
    
    # Filter books with the same category
    same_category_books = df[df['categories'] == book_category]
    
    # Sort by ratings_count (descending) and then by average_rating (descending)
    sorted_books = same_category_books.sort_values(
        by=['ratings_count', 'average_rating'], ascending=[False, False]
    )

    
    # Get the top 10 books, including the input book
    input_book = df[df['title'] == title].iloc[0]
    top_books = sorted_books.head(9)
    top_books = pd.concat([ input_book.to_frame().T , top_books], ignore_index=True)
    
    return top_books

# Example Usage
recommendations = recommend_books('The One Tree', df)
print(recommendations[['title', 'categories', 'ratings_count', 'average_rating']])

                                               title        categories  \
0                                       The One Tree  American fiction
1                            A Prayer for Owen Meany  American fiction
2                              Assassin's Apprentice  American fiction
3                                           Survivor  American fiction
4                                  Bagombo Snuff Box  American fiction
5                                          The Hours  American fiction
6  Three Famous Short Novels: short novels, Spott...  American fiction
7                                    American Psycho  American fiction
8                            They Do it with Mirrors  American fiction
9                                       Crime Novels  American fiction

  ratings_count average_rating
0         172.0           3.97
1      246360.0           4.23
2      133972.0           4.15
3       49342.0           3.92
4        7849.0           3.72
5        1533.0           3.93
6        1433.0           3.86
7         835.0           3.82
8         415.0           3.75
9         414.0           4.36

In [32]:
'pride and prejudice' in df['title'].values

False